
/* Styling for HTML elements */
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
  }
  

  h1 {
    color: #02171d;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
  }
  
  h2 {
    color: #02171d;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
  }

  h3 {
    color: #137c99;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
  }

  h4 {
    color: #137c99;
    font-size: 18px;
    font-style: normal;
    font-weight: 650;
  }

  a {
    color: #070001;
  }
  
  .img-size-1 {
    max-width: 205px;
    max-height: 205px;
    width: 100%;
    height: auto;
  }

  .img-size-2 {
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: auto;
  }

  .img-size-3 {
    max-width: 600px;
    max-height: 500px;
    width: 100%;
    height: auto;
  }

  .img-size-4 {
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: auto;
  }

  .textwrap {
    float: left;
    margin: 10px;
  }

  .box-1 {
    position: relative;
    padding: 4px;
    margin: 4px;
    font-weight:500;
    color: black;
  }

  .table-fixed {
    height: 700px;
    overflow-y: scroll;
    width: 100%;
  }